@model WebsiteFlower.Models.KHACHHANG

@{
    ViewBag.Title = "DeleteKH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Xác nhận thông tin xóa</h2>

<h3>Bạn có chắc là xóa khách hàng này</h3>
<div style="color:black; font-weight:bold">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            Tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
           Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHIKH)
        </dd>

        <dt>
            Điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENTHOAIKH)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NGAYSINH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "KhachHang")
        </div>
    }
</div>
